{% extends "FlightsBundle::bootstrap.html.twig" %}

{% block register %}
<div style="display:flex;justify-content:flex-start;align-items:center;height: 30vh">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>

{% endblock register %}
